body {
    background-color: #328CC1 !important;
}

.content {
    margin-top: 30px;
    border-radius: 4px;
    padding: 20px;
    background-color: #D98310;
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.center.big {
    width: unset;
}

label {
    font-size: 1.4rem;
}

.form-check {
    margin-left: 15px;
}

.form-check-label {
    font-size: 1.2rem;
}

.franquia {
    margin-left: 15px !important;
}

.franquia label {
    font-size: 1.2rem;
}

.info > p{
    margin-left: 10px;
}

.navbar {
    background-color: #0B3C5D;
}

.nav-link, .navbar-brand {
    color: aliceblue !important;
}

.hidden {
    display: none;
}

.snackbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.snackbar.success {
    background-color: rgba(0, 0, 0, 0.5);
}

.snackbar.error {
    background-color: rgba(255, 0, 0, 0.5);
}

.snackbar p {
    color: white;
    margin-bottom: 0;
}